/target
/.vs
Cargo.lock
/book
src/черновик.txt
src/черновик.rs
/.idea/runConfigurations
/.idea
/книги/*
/2словари
/книги2
/вывод
/logs
logs/xvba_debug.log
.run/Запуск.run.xml
.run/Обновление.run.xml
.run/Проверка.run.xml
/logs
/*.xlsx
/вывод2
*~
исправления внести/~$слова.xlsx
*.etl
dhat-heap.json
/запас словарей
/книги23
/книги21
словари/~$si pi 2011.xlsx
словари/~$Главный словарь.xlsx
словари/~$шерстобитов.xlsx
словари/~$энио.xlsx
словари/~$переведённые_слова.xlsx
/книги3
/книги24
/книги4
/книги-пол
/книги1
/книги-бир
